.main {
  flex-grow: 1;
  padding: 0 32px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 250px;
  width: 100vw;
  margin-left: calc((100% - 100vw) / 2);
  z-index: -1;
  background: linear-gradient(var(--gray-a2), var(--color-background));
}

.article {
  padding: 24px 0;
}
