.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(var(--gray-a2), var(--color-background));
}

.title {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
}

.article {
  max-width: min(1024px, 100vw);
}

.article p,
.article img,
.article ul {
  margin-bottom: 24px;
}
