.container {
  display: flex;
  margin: 16px;
  padding: 16px;
  background-color: var(--gray-a2);
  max-width: 350px;
  border: var(--gray-a6) 1px solid;
}

.title {
  margin: 0;
  line-height: 1.6;
  font-size: 1.25em;
  font-weight: 500;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.link:hover h2 {
  color: var(--color-primary);
}

.date {
  margin-bottom: 0;
}
